@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body{
    margin: 0;
    background:#f5f5f5;
    height: 100vh;
}
main{
  height: 100%;
  display: flex;
}
* {
    box-sizing: border-box;
  }
  .box{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }
  input{
    background: #ffffff;
    border-radius: 4px;
    border: solid #adadad; 
    border-width: 1px;
    width: 350px; height: 48px;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 19px;  

  }
  label{
    color: #222222;
    text-align: left;
    font: 400 16px 'Roboto';
  }
  button{
    width: 350px; height: 48px;
    background: #ff7675;
    border-radius: 4px;
    color: #ffffff;
    font: 500 16px 'Roboto';
    border-color: #ff7675;
  } 
  .a{
    color: #ff7675;
    font: 400 16px 'Roboto';
    text-decoration: none;
 }
form{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.champs{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
 
.messError{
  font-family: 'Roboto';
  display: none;
  color: #D63031;
  margin: 0;
}
::placeholder{
  color:#ADADAD;
  padding-left: 16px;
 }

 .messError2{
  font-family: 'Roboto';
  display: none;
  color: #27AE60;
  text-align: center;
  margin: auto;
 }

 .b{
  color:#27AE60;
  font: 400 16px 'Roboto';
  text-decoration: none;
}

.titre{
  font-family: 'Roboto';
  font-size: 24px;
  margin: 0;

}
.titre2{
  font-family: 'Roboto';
  font-size: 24px;
  margin: 0;
}